<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>welcomeTextServlet</servlet-name>
        <servlet-class>servlet.WelcomeTextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>welcomeTextServlet</servlet-name>
    <url-pattern>/welcomeText</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addTrainingServlet</servlet-name>
        <servlet-class>servlet.AddTrainingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addTrainingServlet</servlet-name>
        <url-pattern>/addTraining</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TokenVerifier</servlet-name>
        <servlet-class>servlet.TokenVerifierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenVerifier</servlet-name>
        <url-pattern>/tokenVerifier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>servlet.initServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RSSReaderServlet</servlet-name>
        <servlet-class>servlet.RSSReaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RSSReaderServlet</servlet-name>
        <url-pattern>/rss</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TaskQueueServlet</servlet-name>
        <servlet-class>servlet.TaskQueueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskQueueServlet</servlet-name>
        <url-pattern>/addQueue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlanServlet</servlet-name>
        <servlet-class>servlet.PlanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlanServlet</servlet-name>
        <url-pattern>/plan</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserPlansServlet</servlet-name>
        <servlet-class>servlet.UserPlansServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPlansServlet</servlet-name>
        <url-pattern>/userPlans</url-pattern>
    </servlet-mapping>



</web-app>